
$GlobalHeader_height: 5.5em;

.GlobalHeader {
	@extend %table;
	height: $GlobalHeader_height;
	background: $black;
	color: $offwhite;
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;

	> .child {
		@extend %tcell;
		padding: 0 2em;
		font-size: 1.125em;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		max-width: none;
	}
}
.GlobalHeader_Logo, .GlobalHeader_User {
	background: $darkgrey;
}
.GlobalHeader_Logo {
	img {
		height: 3em;
		width: auto;
	}
}
.GlobalHeader_Titles {
	width: 100%;

	> .child {
		display: inline-block;
	}
}
.GlobalHeader_Titles_Section {
	display: inline-block;
	margin-right: 1em;
	text-transform: uppercase;
	font-size: 1.125em;
	font-weight: $fw_b;
}
.GlobalHeader_User {
	img {
		margin-left: 1em;
		border-radius: 100%;
	}
}
