
$Navs_width: 3.5em;

%fixed_left {
	position: fixed;
	overflow: auto;
	top: $GlobalHeader_height;
	bottom: 0;
	left: 0;
	text-align: center;

	a {
		display: block;
	}
}

.Navs {
	@extend %fixed_left;
	width: $Navs_width;
	background: $darkgrey;

	a {
		color: lighten($grey, 5);
		margin-bottom: 1px;

		&:hover {color: $offwhite;}
	}
	.fa {
		font-size: 1.625em;
	}
}
.Navs_Root {
	a {
		background: $black;
		padding: 1em 0;

		&[data-selected=true] {
			background: $grey;
			color: $offwhite;
		}
	}
}
.Navs_Support {
	width: 100%;
	position: absolute;
	bottom: 1.2em;

	a {padding: .6em 0;}
}
