/*
** Partials
*/
%table {display:table; width:100%;}
%trow {display:table-row;}
%tcell {display:table-cell; vertical-align:middle;}
%fs-a {-webkit-font-smoothing: antialiased;}
%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {clear: both;}
}
%pseudo-triangle {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border: solid transparent;
}
%to-e {
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}

/*
** Tags
*/
*, *:before, *:after {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background-repeat: no-repeat;
	box-sizing: border-box;
	vertical-align: baseline;
}
html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
header, footer {
	cursor: default;
}
ul, ol {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	vertical-align: middle;
	text-align: left;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*
** Forms
*/
input {
	overflow: visible;
}
input[type=submit], input[type=button], button[type=submit], input[type=search] {
	-webkit-appearance: none;

	&::-moz-focus-inner {
		padding: 0;
		border: none;
	}
}
input[type=submit], input[type=button], button[type=submit] {
	cursor: pointer;
}
textarea {
	resize: vertical;
}
