
/* ``````````````````````````````````````````````````
** Typography
*/
$fz: 14px;
$input_pad: .625em;

@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
%f_body {font-family: 'Lato', sans-serif;}
$fw_b: 900;
$fw_n: 400;
$fw_l: 400;


/* ``````````````````````````````````````````````````
** Colors
*/
$blue: #10A6E1;
$black: #040404;
$darkgrey: lighten($black, 9);
$grey: #343741;
$offwhite: #F6F7F9;
$white: #FFFFFF;

$c_body: $grey;
$c_link: $blue;
$c_link_hover: darken($blue, 15);
