
$Subnav_width: 8em;

.Subnav {
	@extend %fixed_left;
	left: $Navs_width;
	width: $Subnav_width;
	background: $grey;

	nav {
		border-bottom: solid 1px rgba($offwhite, .06);
	}
	a {
		color: lighten($grey, 28);
		border-top: solid 1px rgba($offwhite, .06);
		border-bottom: solid 1px rgba($black, .2);
		padding: 2.5em 0;
		position: relative;

		&:first-child {border-top: 0;}
		&[data-selected=true] {
			color: $offwhite;

			&:before {
				content: '';
				display: block;
				width: 3px;
				height: 70%;
				position: absolute;
				top: 15%;
				background: $blue;
			}
		}
		&:hover {color: $offwhite;}
	}
	.fa {
		display: block;
		font-size: 2.25em;
		padding-bottom: .2em;
	}
}
