
body {
	font-size: $fz;
}
body, input, textarea, select, button {
	@extend %f_body;
	color: $c_body;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {cursor: default;}
a {h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {cursor: inherit;}}
del {text-decoration:line-through;}
sup, sub {line-height:1em;}
q, blockquote {quotes: none;}
q:before, q:after, blockquote:before, blockquote:after {content: ""; content: none;}

a, input[type=submit] {
	transition: color 0.3s, background-color 0.3s, border-color 0.3s;

	&:hover {transition: color 0s, background-color 0s, border-color 0s;}
}

a {color: $c_link; text-decoration: none;}
a:hover {color: $c_link_hover;}

label {
	display: inline-block;
}
input, textarea, select, button {
	font-size: 1em;
	padding: $input_pad;
	border: solid 1px rgba(#000, .25);
	width: 100%;
}
input, textarea, select {
	&:focus {border: solid 1px rgba(#000, .5);}
}
input, select, button {
	height: $input_pad * 2 + 1.2;
}
input[type=radio], input[type=checkbox] {
	padding: 0;
	border: 0;
	width: auto;
	height: auto;
}
textarea {
	line-height: 1.4em;
	padding: $input_pad ($input_pad * 1.5);
}
input[type=submit], input[type=button], button, .btn {
	display: inline-block;
	width: auto;
	height: auto;
	text-align: center;
	border-color: transparent;
	padding: $input_pad ($input_pad * 2);
	font-weight: $fw_b;
	line-height: 1.1em;
}
input[type=submit], input[type=button], button[type=submit], .btn.primary {
	background-color: $c_link;
	color: #fff;

	&:hover {
		background-color: $c_link_hover;
		color: #fff;
	}
	&:active {
		background-color: darken($c_link_hover, 10);
	}
}
button, .btn {
	background-color: rgba($c_link, .1);
	color: $c_link;

	&:hover {
		background-color: rgba($c_link_hover, .1);
		color: $c_link_hover;
	}
	&:active {
		background-color: rgba(darken($c_link_hover, 10), .1);
		color: darken($c_link_hover, 10);
	}
}
