
/* ``````````````````````````````````````````````````
** Bezier curves for transitions
**
** From http://matthewlein.com/ceaser/
** I've just added the ones I prefer, there are more.
*/
$bez_easeInBack:    cubic-bezier(0.600, -0.280, 0.735, 0.045);
$bez_easeOutCirc:   cubic-bezier(0.075, 0.820, 0.165, 1.000);
$bez_easeOutBack:   cubic-bezier(0.175, 0.885, 0.320, 1.275);
$bez_easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$bez_easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$bez_easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);


/* ``````````````````````````````````````````````````
** Font Awesome
*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);


/* ``````````````````````````````````````````````````
** Social network colors
** If you need more, get them from http://simpleicons.org
*/
$c_tw: #2AB6E9;  // Twitter
$c_fb: #3B5998;  // Facebook
$c_gp: #D14836;  // Google+
$c_li: #0A7AB3;  // LinkedIn
$c_yt: #BD2F29;  // YouTube
$c_vm: #44BBFF;  // Vimeo
$c_ig: #517FA3;  // Instagram
$c_fk: #0063DB;  // Flickr
$c_rss: #F79937; // RSS
